<p>Esta es mi segunda practica de angular, aun me cuesta el poder inicializar un nuevo proyecto, quiero decir que esta vez me tuve fallas al poder crear los proyectos, tengo la esperaanza de que a medida que vaya practicando logre agilizarme </p>

<p>Esta es mi segunda practica de angular, aun me cuesta el poder inicializar un nuevo proyecto, quiero decir que esta vez me tuve fallas al poder crear los proyectos, tengo la esperaanza de que a medida que vaya practicando logre agilizarme </p>

<p>Esta es mi segunda practica de angular, aun me cuesta el poder inicializar un nuevo proyecto, quiero decir que esta vez me tuve fallas al poder crear los proyectos, tengo la esperaanza de que a medida que vaya practicando logre agilizarme </p>

<p>Esta es mi segunda practica de angular, aun me cuesta el poder inicializar un nuevo proyecto, quiero decir que esta vez me tuve fallas al poder crear los proyectos, tengo la esperaanza de que a medida que vaya practicando logre agilizarme </p>

<p>Esta es mi segunda practica de angular, aun me cuesta el poder inicializar un nuevo proyecto, quiero decir que esta vez me tuve fallas al poder crear los proyectos, tengo la esperaanza de que a medida que vaya practicando logre agilizarme </p>


